/* body{
    margin:0;
    padding: 0;
  background-color:black;
  color:#9e9ea4; 
  font-family: 'Mona-Sans', sans-serif;
}  */
.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}
.main-title {
  display: flex;
  justify-content: space-between;
}
.main-cards {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 25px;
  margin: 15px 30px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 15px;
  border-radius: 10px;
  height: 120px;
  background-color: transparent;
  border: 1px solid #e1ff3c;
  color: white;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-inner > .card_icon {
  font-size: 30px;
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }
}
