@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  font-family: "Mona-Sans-Italic", sans-serif;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
  overflow-x: hidden;
}
